.circleContainer{
  
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;


}
.circle{
height: 24vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;

  align-items: center;

}

.circleO{
  height: 200px;
  width: 200px;
  border: 5px solid rgb(53, 162, 235);
  border-left: 4px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  align-items: center;
}
.tabledata{
  background-color: white;
}
.headerDiv{
  background-color: rgb(53, 162, 235) ;
}

