.grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 10% 10%;
  justify-content: center;
  align-items: center;
  width: 95vw;
  gap: 1.5rem;
  color: black;
  font-size:1.2rem;

}
#collectionRow{

  
}
#mainContainer{
}